[Unit]
Description="x11vnc"
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/usr/bin/x11vnc -xkb -norc -forever -shared -display :0 -auth guess -rfbauth /etc/x11vnc.pass -o /var/log/x11vnc.log -rfbport 5902 
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure
Restar-sec=2

[Install]
WantedBy=multi-user.target
